<h1><%= @article.name %></h1>

<p class="info">Published on <%= @article.published_on.strftime("%B %e, %Y") %></p>

<%= simple_format @article.content %>

<p><%= link_to "Back to Articles", articles_path %></p>
