// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#articles {
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  p { margin: 5px 0; }
  .info {
    font-style: italic;
    font-size: 12px;
  }
}
